@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #f1f1f1;
  overflow-y: scroll;
}

.sidebar-submenu {
  overflow: hidden;
  max-height: 0;
  opacity: 0;
  transition: max-height 0.3s ease-in-out, opacity 0.3s ease-in-out,
    padding 0.3s ease-in-out;
  padding-top: 0;
  padding-bottom: 0;
}

.sidebar-submenu.open {
  max-height: 600px; /* adjust as needed */
  opacity: 1;
  padding-top: 0.25rem;
  padding-bottom: 0.25rem;
}

/* For WebKit browsers */
::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background: #f1f1f1; /* light gray track */
}

::-webkit-scrollbar-thumb {
  background: #c0c0c0; /* gray thumb */
  border-radius: 6px;
}

::-webkit-scrollbar-thumb:hover {
  background: #a0a0a0; /* darker on hover */
}

/* For Firefox */
html {
  scrollbar-width: thin;
  scrollbar-color: #c0c0c0 #f1f1f1;
}

.custom-scrollbar {
  overflow-y: auto;
  scrollbar-width: thin;
  scrollbar-color: #cbd5e1 #f1f5f9;
}

.custom-scrollbar::-webkit-scrollbar {
  width: 8px;
}

.custom-scrollbar::-webkit-scrollbar-track {
  background: #f1f1f1;
}

.custom-scrollbar::-webkit-scrollbar-thumb {
  background: #cbd5e1;
  border-radius: 10px;
  margin: 20px 0; /* This shortens the scrollbar height */
}

.custom-scrollbar::-webkit-scrollbar-thumb:hover {
  background: #94a3b8;
}

.scrollbar-hide {
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;      /* Firefox */
}
.scrollbar-hide::-webkit-scrollbar {
  display: none;
}
